// Fonts

@import "variables";
@import "ui-elements";
@import "fonts";
@import "typography";
@import "transitions";
@import "mixins";

body {
  font-family: $font-family-base;
}

.app-container {
  position: relative;
  width: 100%;
  height: 100%;
}

